ul {
    list-style-type: none;
}

ul li {
    margin: 20px;
}

ul li img {
    width: 450px;
}

ul li div.musique img {
    width: 310px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

ul li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

ul li a {
    width: 100px;
    font-size: 25px;
    color: white;
}

body {
    background-color: black;
    color: white;
}


ul.music-list {
    flex-direction: row;
    flex-wrap: wrap;
}

ul li div.blox img {
    width: 150px;
}

ul li:has(div.moneyicon) {
    gap: unset;
}

ul li div.moneyicon img {
    width: 10px;
}

ul li.margin-unset {
    margin: unset;
}

ul li div.command img {
    width: 150px;
}